<!doctype html>
<html>
  <head>
    <metadata charset="utf-8">
    <title>New Task!</title>
  </head>
  <body>
    <h1>Add a new task!</h1>
      <form action="/create_task" method="POST">
        <label for="task_content">Task content: </label>
        <input type="text" name="task_content">
        <button type="submit">Add task</button>
      </form>
  </body>
</html>